<div class="card">
  <div class="card-header">
    <h2>Register for Meal</h2>
  </div>
  <form action = "/users" method = "post">
    <div class="form-group">
      <label for="exampleInputName">Full Name</label>
      <input type="text" class="form-control" id="exampleInputName" placeholder="John Doe">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="register-btn">
      <button type="submit" class="btn btn-default">Register</button>
    </div>

  </form>
  </div>
</div>
