.navbar {
  position: relative;
  text-align: center;
}
.navbar-brand{
  position: absolute;
  margin-left: -50px !important;
   left: 50%;
  display: block;
  font-size: 2em;
}

.navbar-btn{
  margin-right: 2%;
}
