.center{
  text-align: center;
}
.navbar {
  position: relative;
  background-color: #CECFCF;


}
.navbar-brand{
  transform: translateX(-50%);
  position: absolute;
   left: 50%;
  display: block;
  font-size: 2em;

}

#logo {
    color: #BE0011;
}
