.user-home {
  text-align: center;
  margin-top: 20px;
}

.create-group-btn{
  text-align: center;
  display: inline;
}

.user-content {
  margin-top: 40px;
  margin-bottom: 40px;
}
.card{
  margin-top: 40px;
}

tr {
  width: 75%;
  vertical-align: middle;
}
td {
  padding-bottom:15px;
}

#joined-table{
  border-spacing: 1em;
  width: 100%;
}
#admin-table{
  border-spacing: 1em;
  width: 100%;
}

.btn-xl {
    padding-bottom: 10px 20px;
    width: 100px;
}
.create-btn {
  postion: absolute;
  padding-bottom: 10px;
  width: 100%;
}

.remove{
  background-color: none;
}

.btn-link{
  color: black;
}
